.input__custom {
  width: 269px;
  height: 50px;
  border: 1px solid #d7d9df;
  box-sizing: border-box;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
}

.input__custom:hover {
  border-color: rgba(44, 46, 63, 0.5);
}

.input__phone {
  padding-left: 51px;
  background: #ffffff url("../img/icons/star-input.svg") no-repeat;
  background-position: 13px 8px;
}

.input__email {
  padding-left: 15px;
}

.input__phone--invalid,
.input__email--invalid {
  border: 1px solid #fe7865;
}

.input__static-value {
  display: block;
  position: absolute;
}

.input__popup .input__static-value::before {
  content: "+7";
  display: block;
  position: absolute;
  top: -78px;
  left: -111px;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
}

.input__feedback .input__static-value::after {
  content: "+7";
  display: block;
  position: absolute;
  top: 15px;
  left: 25px;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
}

.input__validate-label-telephone,
.input__validate-label-email {
  position: absolute;
  display: none;
}

.input__validate-label-email::after,
.input__validate-label-telephone::before {
  content: "Данные не верны";
  position: absolute;
  font-size: 12px;
  line-height: 15px;
  color: #fe7865;
  top: -14px;
  left: -17px;
  width: 150px;
}

.input__validate-label-email::after {
  top: -14px;
  left: 270px;
}

.input__validate-label-email--active,
.input__validate-label-telephone--active {
  display: block;
}

.input__popup .input__validate-label-telephone::before {
  top: -109px;
  left: -134px;
}

.input__popup .input__validate-label-email::after {
  top: -39px;
  left: -134px;
}

@media (max-width: $desktop-width) {
  .input__phone {
    background-position: 13px 5px;
  }
}

@media (max-width: $tablet-width) {
  .input__feedback .input__static-value::after {
    left: 42px;
  }

  .input__popup .input__static-value::before {
    left: -118px;
  }

  .input__validate-label-email::after {
    top: 55px;
    left: -2px;
  }

  .input__validate-label-telephone::before {
    left: -2px;
  }

  .input__popup .input__validate-label-telephone::before {
    left: -143px;
  }

  .input__popup .input__validate-label-email::after {
    left: -143px;
  }
}
