.main-offer {
  padding: 0;
  margin: 0 auto 199px;
  width: 100%;
  min-height: 860px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.main-offer::before {
  display: block;
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  min-height: 860px;
  background: #6393bb url("../img/background-main-desktop@1x.jpg") no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: url("../img/background-main-desktop@2x.jpg") no-repeat;
    background-size: cover;
  }
}

.main-offer::after {
  display: block;
  position: absolute;
  content: "";
  z-index: -2;
  width: 100%;
  height: 100%;
  background: #6393bb;
  background-size: cover;
}

.main-offer__main-title-wrapper {
  padding: 0;
  margin: 0 19.8vw 41px 0;
  max-width: 465px;
  min-height: 450px;
  align-self: center;
}

.main-offer__main-title {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  color: #ffffff;
  padding: 0 0 29px 0;
  letter-spacing: -1.10667px;
}

.main-offer__text {
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.466667px;
  color: #ffffff;
  padding: 0 0 34px 0;
  margin: 0 72px 0 0;
}

@media (max-width: $desktop-width) {
  .main-offer {
    padding: 0 0 0 0;
    margin: 0 auto 80px;
    width: 100%;
    min-height: 344px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-offer::before {
    display: block;
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    min-height: 344px;
    background: #6393bb url("../img/tablet/background-main-tablet@1x.jpg") no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/tablet/background-main-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  .main-offer__main-title-wrapper {
    padding: 0;
    margin: 0 0 22px 0;
    width: 100%;
    min-height: 220px;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .main-offer__main-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
    mix-blend-mode: normal;
    letter-spacing: 0;
    padding: 0 0 14px 0;
  }

  .main-offer__text {
    max-width: 438px;
    margin: 0;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    letter-spacing: -0.466667px;
    color: #ffffff;
    padding: 0 0 9px 0;
  }
}

@media (max-width: $tablet-width) {
  .main-offer {
    padding: 0 0 0 0;
    margin: 0 auto 58px;
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .main-offer::before {
    display: block;
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    min-height: 235px;
    background: #6393bb url("../img/mobile/background-main-mobile@1x.jpg") no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/mobile/background-main-mobile@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  .main-offer::after {
    display: none;
  }

  .main-offer__main-title-wrapper {
    padding: 0;
    margin: 0 0 22px;
    height: 100%;
    align-self: unset;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .main-offer__main-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    padding: 83px 0 100px;
    padding-left: calc(1vw * (53 / (320 / 100)));
    padding-right: calc(1vw * (53 / (320 / 100)));
  }

  .main-offer__text {
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    letter-spacing: -0.466667px;
    color: #2c2e3f;
    padding: 0 20px 19px 20px;
    max-width: 510px;
  }
}
