.main-nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.main-nav__wrapper {
  padding: 0;
  margin: 0 0 0 0;
  display: flex;
}

.main-nav__list {
  min-width: 215px;
  padding: 0;
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav__item {
  padding: 0;
  margin: 0 10px;
  align-self: center;
}

.main-nav__item-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
}

.main-nav__item-content:hover {
  color: #fe7865;
}

.main-nav__phone {
  min-width: 190px;
  margin: 0 0 0 49px;
  padding: 0 21px 0 51px;
  display: block;
  font-size: 18px;
  line-height: 32px;
  text-decoration-line: underline;
  position: relative;
  color: #141517;
  fill: transparent;
  stroke: #141517;
}

.main-nav__phone:hover {
  color: #fe7865;
  stroke: #fe7865;
}

.main-nav__phone-icon {
  position: absolute;
  top: 3px;
  left: 12px;
}

@media (max-width: $desktop-width) {
  .main-nav {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-self: center;
    justify-content: flex-start;
  }

  .main-nav__wrapper {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
  }

  .main-nav__list {
    min-height: 478px;
    padding: 90px 0 0 0;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .main-nav__item {
    margin: 0 0 30px 0;
    width: 100%;
    height: 60px;
    background: #fbf8f8;
    display: flex;
    align-items: center;
  }

  .main-nav__item-content {
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #48494d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: calc(1vw * 16 / (320 / 100));
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      position: absolute;
      top: 50%;
      right: calc(1vw * 25 / (320 / 100));
      transform: translateY(-50%) rotate(45deg);
      background: transparent;
      border-top: 2px solid rgba(44, 46, 63, 0.5);
      border-right: 2px solid rgba(44, 46, 63, 0.5);
      box-sizing: border-box;
      mix-blend-mode: normal;
    }
  }

  .main-nav__item-content:hover::before {
    color: #fe7865;
    border-top: 3px solid #fe7865;
    border-right: 3px solid #fe7865;
  }

  .main-nav__phone {
    display: none;
  }
}

/*
@media (max-width: $mobile-width) {
  .main-nav {
    width: 100%;
    min-height: 508px;
    padding: 0;
    margin: 0;
    //display: flex;
    align-self: center;
    justify-content: space-between;
    display: none;
  }

  .main-nav__wrapper {
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
    display: flex;
  }

  .main-nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-nav__item {
    margin: 0 0 30px 0;
    width: 100%;
    height: 60px;
    background: #fbf8f8;
    display: flex;
    align-items: center;
  }

  .main-nav__item-content {
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #48494d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translateY(-50%) rotate(45deg);
      background: transparent;
      border-top: 3px solid rgba(44, 46, 63, 0.5);
      border-right: 3px solid rgba(44, 46, 63, 0.5);
      box-sizing: border-box;
      mix-blend-mode: normal;
    }
  }

  .main-nav__item-content:hover::before {
    color: #fe7865;
    border-top: 3px solid #fe7865;
    border-right: 3px solid #fe7865;
  }

  .main-nav__phone {
    display: none;
  }
}
 */
