.mobile-menu__button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 0;
  width: 72px;
  height: 50px;
  background-color: rgb(254, 120, 101);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;

  @media (max-width: $desktop-width) {
    display: flex;
  }

  .mobile-menu__element {
    display: block;
    height: 1px;
    width: 23px;
    background-color: #ffffff;
    margin-bottom: 5.5px;
    transition: 0.2s all;
  }

  .mobile-menu__element:nth-child(3) {
    margin: 0;
  }
}

.mobile-menu__button--active {
  background-color: transparent;

  .mobile-menu__element {
    background-color: rgba(20, 21, 23, 0.2);
    margin-bottom: -2px;
    width: 30px;
  }

  .mobile-menu__element:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }

  .mobile-menu__element:nth-child(2) {
    display: none;
  }

  .mobile-menu__element:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
}


@media (max-width: $desktop-width) {
  .mobile-menu__elements {
    display: none;
  }

  .mobile-menu__elements--active {
    display: flex;
  }
}

@media (max-width: $tablet-width) {
  .mobile-menu__button {
    width: 50px;
  }
}
