.popup__succes-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.popup__succes-wrapper--deactive {
  display: none;
}

.popup__succes {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 728px;
  height: 444px;
  background: #fbf8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__succes-text {
  width: 400px;
  min-height: 80px;
  font-weight: 500;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  color: #48494d;
}

.popup__order-wrapper--no-js {
  display: block;
  margin: 30px auto;
}

.popup__order-wrapper--on-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.popup__order-wrapper--deactive {
  display: none;
}

.popup__order--no-js {
  width: 728px;
  height: 444px;
  background: #fbf8f8 url("../img/background-popup.jpg") no-repeat;
  background-position: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  border: none;
  box-sizing: border-box;
  margin: 0 auto;
}

.popup__order--active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 728px;
  height: 444px;
  background: #fbf8f8 url("../img/background-popup.jpg") no-repeat;
  background-position: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  border: none;
  box-sizing: border-box;
}

.popup__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  color: #48494d;
  margin: 80px 5px 57px 0;
}

.popup__order-form {
  display: flex;
  flex-direction: column;
  width: 390px;
  justify-content: center;
  align-items: center;
}

.popup__order-input {
  margin: 0 0 20px 0;
}

.popup__order--no-js .popup__button-close {
  display: none;
}

@media (max-width: $tablet-width) {
  .popup__succes-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }

  .popup__succes-wrapper--deactive {
    display: none;
  }

  .popup__succes--active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 444px;
    background: #fbf8f8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup__succes-text {
    width: unset;
    max-width: 400px;
    min-height: 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 170%;
    text-align: center;
    color: #48494d;
  }

  .popup__order-wrapper--on-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }

  .popup__order-wrapper--deactive {
    display: none;
  }

  .popup__order--active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 568px;
    background: #ffffff;
    background-position: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: none;
    box-sizing: border-box;
  }

  .popup__order--no-js {
    width: 100%;
    height: 568px;
    background: #ffffff;
    background-position: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: none;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .popup__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 170%;
    text-align: center;
    color: #48494d;
    margin: 101px 0 50px 0;
  }

  .popup__order-form {
    display: flex;
    flex-direction: column;
    width: 390px;
    justify-content: center;
    align-items: center;
  }

  .popup__order-input {
    margin: 0 0 20px 0;
    width: 288px;
  }
}
